.msg-block {
  width: 100%;
}
.msg-block .contact {
  padding: 0.2em;
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
textarea.form-control {
  height: 5em;
}
.contact .form-group {
  margin-bottom: 0.2em;
}
.chat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2em;
  border-bottom: 2px solid black;
  padding-bottom: 0;
}
.chat-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.4em;
  border-bottom: 1px solid black;
  width: 100%;
}
.chat-header .title {
  font-size: 1.5em;
  padding: 0.5em;
}
.chat-avatar {
  width: 5em;
  height: 5em;
  border: 2px solid red;
  border-radius: 50%;
}
.msg-container {
  display: flex;
  flex-direction: column;
}
.msg-title {
  padding: 0.2em 0.2em;
  background-color: black;
  color: #ffffff;
}
.msg-title h4 {
  margin-bottom: 0;
  padding-left: 0.5em;
}

@media (min-width: 768px) {
  .msg-container {
    display: flex;
    flex-direction: row;
  }
  .msg-block {
    border-left: 2px solid black;
  }
  .chat-header .title {
    margin-bottom: 0;
    font-size: 1em;
  }
  .chat-header .chat-avatar {
    width: 4em;
    height: 4em;
  }
  .msg-heading {
    width: 40%;
  }
  .msg-block .contact {
    padding: 0.5em;
    padding-bottom: 1em;
  }
  .chat-box {
    padding: 0.5em;
    padding-bottom: 0;
    height: 73vh;
    overflow-y: scroll;
  }
  .contact button {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .contact button {
    width: 20%;
  }
}
