.text-section {
  padding-top: 20vw;
  margin: 0 0.2em;
  text-align: center;
  color: white;
}

.text-section hr {
  width: 400px;
	border: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
}

.overlay {
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
}

.text-section h1 {
  z-index: 9999;
  width: 80%;
  margin: 0 auto;
  font-size: 4em;
  font-weight: 700;
}

.options-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homeBtn {
  width: 100%;
  margin-top: 0.2em;
  color: #FFFFFF;
  background-color: #4ABFBF;
  border-color: #4ABFBF;
}

@media (min-width: 576px) {
  .homeBtn {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .homeBtn {
    width: 20%;
    margin-left: 0.5em; 
  }
}