.login-form {
    padding: 0.2em;
}

.login-form h3 {
    padding: 0;
    font-size: 3em;
}

.myBtn {
    color: #FFFFFF;
    background-color: #4ABFBF;
    border-color: #4ABFBF;    
  }

@media (min-width: 768px){
    .login-form {
      width: 80%;
      margin: 0 auto;
    }
}
  
@media (min-width: 1024px){
    .login-form {
      width: 50%;
      margin: 0 auto;
    }
}