.map {
  background-color: lightgrey;
  height: 20em;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.2em;
}

.map-pins {
  color: white;
  background-color: red;
  padding: 0.5em;
  display: inline-flex;
  border: 1px solid black;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .map {
    width: 50%;
    height: 85vh;
    order: 99;
  }
}