.profilelist {
  padding: 0.2em;
  height: 85vh;
  overflow-y: scroll;
  box-shadow: 1px 3px #e6e6e6;
  width: 100%;
}
.item {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin-bottom: 0.1em;
}
.item-details {
  padding: 0.2em;
}
.avatar {
  width: 5em;
  height: 5em;
}
.item .rating {
  font-size: 1.5em;
}
.pet-text {
  font-weight: bold;
  font-style: italic;
  padding-right: 0.3em;
} 
.pet-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2em;
}
.pet {
  display: flex;
  flex-direction: row;
  align-items: center;
} 
.location {
  font-weight: bold;
  font-size: 1.2em;
}
@media (min-width: 576px) {
  .item {
    border-radius: 0;
  }
  .item span {
    font-size: 1.1em;
    font-weight: 500;
  }
  .item a {
    font-size: 1.2em;
    font-weight: 700;
  }
  .avatar {
    width: 10em;
    height: 10em;
  }
  .pet {
    display: flex;
    flex-direction: row;
    align-items: center;
  }   
}
@media (min-width: 992px) {
  .item span {
    font-size: 1.5em;
    font-weight: 500;
  }
  .item a {
    font-size: 1.6em;
    font-weight: 700;
  }
  .profilelist {
    width: 60%;
  }
  .item {
    width: 100%;
  }
 .pet {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    align-items: center;
  } 
}