.profile-container {
  display: flex;
  flex-direction: column;
}
.profile-container form {
  width: 100%;
}
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-images {
  display: none;
}
.profile-images img {
  width: 20em;
  height: 20em;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-pet {
  display: flex;
  flex-direction: row;  
}
.profile-pet-text {
  font-weight: bold;
  font-style: italic;
  align-content: center;
}
.profile-pet-icon {
  display: flex;
  flex-direction: row;
  font-size: 2.2em;
}
.profile-rating {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
}
.profile-review {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviews {
  padding: 0;
  margin: 0 0.2em;
}
.btn-info {
  color: #FFFFFF;
  background-color: #4ABFBF;
  border-color: #4ABFBF;
}
@media (min-width: 768px) {
  .profile-container {
    padding-top: 1em;
    flex-direction: row;
    margin-bottom: 10em;
  }
  .profile-container textarea {
    width: 61%;
  }
  .profile-map {
    width: 35%;
    height: 50vh;
    padding-right: 5em;
  }
  .profile-avatar img {
    width: 10em;
    height: 10em;
  }
  .profile-left{
    width: 65%;
    padding-left: 5em;
    align-items: initial;
  }
  .profile-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
  }
  .profile-name {
    flex-direction: row;
    align-items: flex-start;
  }
  .profile-info {
    align-items: flex-start;
    padding-left: 1em;
  }
  .profile-review {
    align-items: flex-start;
  }
  .profile-images {
    width: 28em;
    display: initial;
  }
}
@media (min-width: 992px) {
  .profile-text {
    width: 60%;
  }
  .profile-text h3 {
    text-align: left;
    padding-left: 0.5em;
  }
  .profile-text a {
    width: 15em;
  }
  .profile-review {
    padding-top: 0.5em;
  }
}