 .profile-container {
    display: flex;
    flex-direction: column;
 }

.profile-left {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  padding: 0;
  margin: 0 0.2em;
}

@media (min-width: 768px) {
  .profile-container {
    padding-top: 1em;
    flex-direction: row;
  }
  .profile-map {
    width: 35%;
    height: 50vh;
    padding-right: 5em;
  }
  .profile-avatar img {
    width: 10em;
    height: 10em;
    /* align-items: left; */
  }
  .profile-left{
    width: 65%;
    padding-left: 5em;
  }
  .profile-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
  }
  .profile-name {
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }
  .profile-info {
    align-items: flex-start;
    padding-left: 1em;
  }
  .profile-review {
    align-items: flex-start;
  }
  .profile-image {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .profile-text {
    width: 60%;
  }
  .profile-text h3 {
    text-align: left;
    padding-left: 0.5em;
  }
  .profile-text a {
    width: 15em;
  }
}