.user-title {
  padding: 0 0.2em;
  background-color: black;
  color: #DDA448;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.search form {
  /* padding: 0.2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search input {
  background-color: #5bc0de;
  border-radius: 10px;
  width: 100%;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 1.4em;
  padding: 0.5em 0;
}
.form-group label {
  margin-bottom: 0;
}
.search select {
  width : 30%;
  margin-left: 0.2em;
}
@media (min-width: 576px) {
  .search {
    padding: 0 2em;
  }
  .search form {
    padding: 0.3em;
    display: flex;
    flex-direction: row;
  }
  .search input {
    width: 20%;
  }
  .search select {
    width : 18%;
  }  
  .user-title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .search {
    padding: 0 5em;
  }
  .search form {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .search-container {
    flex-direction: row;
    justify-content: center;
  }
  .search {
    padding: 0;
  }
  .user-title {
    font-size: 2em;
    width: 100%;
    text-align: center;
  }
  .search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3em;
  }
  .search input {
    width: 8%;
  } 
}