.user-title {
  padding: 0 0.2em;
  background-color: black;
  color: #DDA448;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.search form {
  padding: 0.3em;
}
@media (min-width: 576px) {
  .search {
    padding: 0 2em;
  }
}
@media (min-width: 768px) {
  .search {
    padding: 0 5em;
  }
}
@media (min-width: 992px) {
  .search-container {
    flex-direction: row;
    justify-content: center;
  }
  .search {
    padding: 0;
  }
  .user-title {
    font-size: 2em;
    width: 100%;
    text-align: center;
  }
  .search form {
    font-size: 1.3em;
    width: 100%;
    text-align: center;
  }
}