.user-title {
  padding: 0 0.2em;
  background-color: black;
  color: #DDA448;
}
.user-title h3 {
  margin-bottom: 0;
  padding-left: 0.5em;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.search form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 0.5em 1em;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.43);
  padding: 0 0 0 0.5em;
}
.form-group label {
  margin-bottom: 0;
}
.search select {
  width : 30%;
  margin-left: 0.2em;
  background-color: #4E73B9;
  color: white;
  border: 5px solid #4E73B9;
  border-radius: 0 2px 2px 0;
  background-clip: content-box;
}
@media (min-width: 576px) {
  .search {
    padding: 0 2em;
  }
  .search form {
    padding: 0.3em;
    display: flex;
    flex-direction: row;
  }
  .search select {
    width : 18%;
  }
}
@media (min-width: 768px) {
  .search {
    padding: 0 5em;
  }
  .search form {
    flex-direction: row;
    justify-content: center;
  }
  .form-group {
    width: 65%;
  }
  .form-group select {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .search-container {
    flex-direction: row;
    justify-content: center;
  }
  .search {
    padding: 0;
  }
  .search form {
    width: 100%;
  }
  .user-title {
    font-size: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0.5em;
  }
  .search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3em;
    margin-left: 0.5em;
  }
  .head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .form-group select {
    width: 32%;
  }
}