.signup-form {
    padding: 0.2em;
}

.myBtn {
  color: #FFFFFF;
  background-color: #4ABFBF;
  border-color: #4ABFBF;    
}

.signup-form h3 {
    padding: 0;
    font-size: 2.5em;
}

.returning-user {
    padding: 0.5em 0.2em;
    display: flex;
    flex-wrap: wrap;
}

.login-link {
    margin-left: 1em;
    font-size: 1.5em;
}

.return-label {
    padding-top: 0.3em;
}

@media (min-width: 768px){
    .signup-form, .returning-user {
      width: 80%;
      margin: 0 auto;
    }
}
  
@media (min-width: 1024px){
    .signup-form, .returning-user {
      width: 50%;
      margin: 0 auto;
    }
}