.App {
  text-align: center;
}

.nav-color {
  background-color: #4ABFBF;
}

.nav-components {
  font-size: 1.3em;
  color: #FFFFFF;
}

.nav-components a {
  padding-left: 0.8em;
  color: #FFFFFF;
}

.nav-components a svg {
  padding-right: 0.2em;
}